
// Audio Modal
.modal.audio.fade(id=id tabindex='-1', role='dialog', aria-labelledby='#{id}Label', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header.text-center
        button.close.icon.close(type="button" class="close" data-dismiss="modal" aria-hidden="true") &nbsp;
      .modal-body
        a.btn.listen(href=href)
          span.icon-play
          | listen
