
// Image Horizontal Modal
.modal.image-horizontal.fade(id=id tabindex='-1', role='dialog', aria-labelledby='#{id}Label', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header.text-center

      .modal-body.text-center
