/*Animations*/

.icon.beak.animate {
  -webkit-animation: measure-beak 0.33s linear 0s 1 normal;
   -moz-animation: measure-beak 0.33s linear 0s 1 normal;
    -ms-animation: measure-beak 0.33s linear 0s 1 normal;
     -o-animation: measure-beak 0.33s linear 0s 1 normal;
        animation: measure-beak 0.33s linear 0s 1 normal;
}

.icon.tail.animate {
  -webkit-animation: measure-tail 0.33s linear 0s 1 normal;
     -moz-animation: measure-tail 0.33s linear 0s 1 normal;
      -ms-animation: measure-tail 0.33s linear 0s 1 normal;
       -o-animation: measure-tail 0.33s linear 0s 1 normal;
          animation: measure-tail 0.33s linear 0s 1 normal;
}

.icon.wing.animate {
  -webkit-animation: measure-wing 0.33s linear 0s 1 normal;
     -moz-animation: measure-wing 0.33s linear 0s 1 normal;
      -ms-animation: measure-wing 0.33s linear 0s 1 normal;
       -o-animation: measure-wing 0.33s linear 0s 1 normal;
          animation: measure-wing 0.33s linear 0s 1 normal;
}


.genetic-analysis.animate {
  -webkit-animation: genetic-analysis 2.5s linear 0s 1 normal;
     -moz-animation: genetic-analysis 2.5s linear 0s 1 normal;
      -ms-animation: genetic-analysis 2.5s linear 0s 1 normal;
       -o-animation: genetic-analysis 2.5s linear 0s 1 normal;
          animation: genetic-analysis 2.5s linear 0s 1 normal;
}


/*measure beak*/
@-webkit-keyframes measure-beak {
  0% { background-position: 0 0 }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -170px 0;}
  33.33% {background-position: -170px 0;}
  33.34% {background-position: -340px 0;}
  49.99% {background-position: -340px 0;}
  50% {background-position: -510px 0;}
  66.66% {background-position: -510px 0;}
  66.67% {background-position: -680px 0;}
  83.33% {background-position: -680px 0;}
  83.34% {background-position: -850px 0;}
  100% { background-position: -850px 0 }
}
@-moz-keyframes measure-beak {
  0% { background-position: 0 0 }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -170px 0;}
  33.33% {background-position: -170px 0;}
  33.34% {background-position: -340px 0;}
  49.99% {background-position: -340px 0;}
  50% {background-position: -510px 0;}
  66.66% {background-position: -510px 0;}
  66.67% {background-position: -680px 0;}
  83.33% {background-position: -680px 0;}
  83.34% {background-position: -850px 0;}
  100% { background-position: -850px 0 }
}
@-ms-keyframes measure-beak {
  0% { background-position: 0 0 }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -170px 0;}
  33.33% {background-position: -170px 0;}
  33.34% {background-position: -340px 0;}
  49.99% {background-position: -340px 0;}
  50% {background-position: -510px 0;}
  66.66% {background-position: -510px 0;}
  66.67% {background-position: -680px 0;}
  83.33% {background-position: -680px 0;}
  83.34% {background-position: -850px 0;}
  100% { background-position: -850px 0 }
}
@-o-keyframes measure-beak {
  0% { background-position: 0 0 }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -170px 0;}
  33.33% {background-position: -170px 0;}
  33.34% {background-position: -340px 0;}
  49.99% {background-position: -340px 0;}
  50% {background-position: -510px 0;}
  66.66% {background-position: -510px 0;}
  66.67% {background-position: -680px 0;}
  83.33% {background-position: -680px 0;}
  83.34% {background-position: -850px 0;}
  100% { background-position: -850px 0 }
}
@keyframes measure-beak {
  0% { background-position: 0 0 }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -170px 0;}
  33.33% {background-position: -170px 0;}
  33.34% {background-position: -340px 0;}
  49.99% {background-position: -340px 0;}
  50% {background-position: -510px 0;}
  66.66% {background-position: -510px 0;}
  66.67% {background-position: -680px 0;}
  83.33% {background-position: -680px 0;}
  83.34% {background-position: -850px 0;}
  100% { background-position: -850px 0 }
}


/*measure tail*/
@-webkit-keyframes measure-tail {
  0% { background-position: 0 0;}
  16.66% {background-position: 0 0;}
  16.67% {background-position: -100px 0;}
  33.33% {background-position: -100px 0;}
  33.34% {background-position: -200px 0;}
  49.99% {background-position: -200px 0;}
  50% {background-position: -300px 0;}
  66.66% {background-position: -300px 0;}
  66.67% {background-position: -400px 0;}
  83.33% {background-position: -400px 0;}
  83.34% {background-position: -500px 0;}
  100% { background-position: -500px 0; }
}
@-moz-keyframes measure-tail {
  0% { background-position: 0 0;}
  16.66% {background-position: 0 0;}
  16.67% {background-position: -100px 0;}
  33.33% {background-position: -100px 0;}
  33.34% {background-position: -200px 0;}
  49.99% {background-position: -200px 0;}
  50% {background-position: -300px 0;}
  66.66% {background-position: -300px 0;}
  66.67% {background-position: -400px 0;}
  83.33% {background-position: -400px 0;}
  83.34% {background-position: -500px 0;}
  100% { background-position: -500px 0; }
}
@-ms-keyframes measure-tail {
  0% { background-position: 0 0;}
  16.66% {background-position: 0 0;}
  16.67% {background-position: -100px 0;}
  33.33% {background-position: -100px 0;}
  33.34% {background-position: -200px 0;}
  49.99% {background-position: -200px 0;}
  50% {background-position: -300px 0;}
  66.66% {background-position: -300px 0;}
  66.67% {background-position: -400px 0;}
  83.33% {background-position: -400px 0;}
  83.34% {background-position: -500px 0;}
  100% { background-position: -500px 0; }
}
@-o-keyframes measure-tail {
  0% { background-position: 0 0;}
  16.66% {background-position: 0 0;}
  16.67% {background-position: -100px 0;}
  33.33% {background-position: -100px 0;}
  33.34% {background-position: -200px 0;}
  49.99% {background-position: -200px 0;}
  50% {background-position: -300px 0;}
  66.66% {background-position: -300px 0;}
  66.67% {background-position: -400px 0;}
  83.33% {background-position: -400px 0;}
  83.34% {background-position: -500px 0;}
  100% { background-position: -500px 0; }
}
@keyframes measure-tail {
  0% { background-position: 0 0;}
  16.66% {background-position: 0 0;}
  16.67% {background-position: -100px 0;}
  33.33% {background-position: -100px 0;}
  33.34% {background-position: -200px 0;}
  49.99% {background-position: -200px 0;}
  50% {background-position: -300px 0;}
  66.66% {background-position: -300px 0;}
  66.67% {background-position: -400px 0;}
  83.33% {background-position: -400px 0;}
  83.34% {background-position: -500px 0;}
  100% { background-position: -500px 0; }
}

/*measure wing*/

@-webkit-keyframes measure-wing {
  0% { background-position: 0 0; }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -160px 0;}
  33.33% {background-position: -160px 0;}
  33.34% {background-position: -320px 0;}
  49.99% {background-position: -320px 0;}
  50% {background-position: -480px 0;}
  66.66% {background-position: -480px 0;}
  66.67% {background-position: -640px 0;}
  83.33% {background-position: -640px 0;}
  83.34% {background-position: -800px 0;}
  100% { background-position: -800px 0; }
}
@-moz-keyframes measure-wing {
  0% { background-position: 0 0; }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -160px 0;}
  33.33% {background-position: -160px 0;}
  33.34% {background-position: -320px 0;}
  49.99% {background-position: -320px 0;}
  50% {background-position: -480px 0;}
  66.66% {background-position: -480px 0;}
  66.67% {background-position: -640px 0;}
  83.33% {background-position: -640px 0;}
  83.34% {background-position: -800px 0;}
  100% { background-position: -800px 0; }
}
@-ms-keyframes measure-wing {
  0% { background-position: 0 0; }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -160px 0;}
  33.33% {background-position: -160px 0;}
  33.34% {background-position: -320px 0;}
  49.99% {background-position: -320px 0;}
  50% {background-position: -480px 0;}
  66.66% {background-position: -480px 0;}
  66.67% {background-position: -640px 0;}
  83.33% {background-position: -640px 0;}
  83.34% {background-position: -800px 0;}
  100% { background-position: -800px 0; }
}
@-o-keyframes measure-wing {
  0% { background-position: 0 0; }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -160px 0;}
  33.33% {background-position: -160px 0;}
  33.34% {background-position: -320px 0;}
  49.99% {background-position: -320px 0;}
  50% {background-position: -480px 0;}
  66.66% {background-position: -480px 0;}
  66.67% {background-position: -640px 0;}
  83.33% {background-position: -640px 0;}
  83.34% {background-position: -800px 0;}
  100% { background-position: -800px 0; }
}
@keyframes measure-wing {
  0% { background-position: 0 0; }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -160px 0;}
  33.33% {background-position: -160px 0;}
  33.34% {background-position: -320px 0;}
  49.99% {background-position: -320px 0;}
  50% {background-position: -480px 0;}
  66.66% {background-position: -480px 0;}
  66.67% {background-position: -640px 0;}
  83.33% {background-position: -640px 0;}
  83.34% {background-position: -800px 0;}
  100% { background-position: -800px 0; }
}

@-webkit-keyframes genetic-analysis {
  0% { background-position: 0 0; }
  0.99% { background-position: 0 0; }
  1% { background-position: -158px 0; }
  1.99% { background-position: -158px 0; }
  2% { background-position: -316px 0; }
  2.99% { background-position: -316px 0; }
  3% { background-position: -474px 0; }
  3.99% { background-position: -474px 0; }
  4% { background-position: -632px 0; }
  4.99% { background-position: -632px 0; }
  5% { background-position: -790px 0; }
  5.99% { background-position: -790px 0; }
  6% { background-position: -948px 0; }
  6.99% { background-position: -948px 0; }
  7% { background-position: -1106px 0; }
  7.99% { background-position: -1106px 0; }
  8% { background-position: -1264px 0; }
  8.99% { background-position: -1264px 0; }
  9% { background-position: -1422px 0; }
  9.99% { background-position: -1422px 0; }
  10% { background-position: -1580px 0; }
  10.99% { background-position: -1580px 0; }
  11% { background-position: -1738px 0; }
  11.99% { background-position: -1738px 0; }
  12% { background-position: -1896px 0; }
  12.99% { background-position: -1896px 0; }
  13% { background-position: -2054px 0; }
  13.99% { background-position: -2054px 0; }
  14% { background-position: -2212px 0; }
  14.99% { background-position: -2212px 0; }
  15% { background-position: -2370px 0; }
  15.99% { background-position: -2370px 0; }
  16% { background-position: -2528px 0; }
  16.99% { background-position: -2528px 0; }
  17% { background-position: -2686px 0; }
  17.99% { background-position: -2686px 0; }
  18% { background-position: -2844px 0; }
  18.99% { background-position: -2844px 0; }
  19% { background-position: -3002px 0; }
  19.99% { background-position: -3002px 0; }
  20% { background-position: -3160px 0; }
  20.99% { background-position: -3160px 0; }
  21% { background-position: -3318px 0; }
  21.99% { background-position: -3318px 0; }
  22% { background-position: -3476px 0; }
  22.99% { background-position: -3476px 0; }
  23% { background-position: -3634px 0; }
  23.99% { background-position: -3634px 0; }
  24% { background-position: -3792px 0; }
  24.99% { background-position: -3792px 0; }
  25% { background-position: -3950px 0; }
  25.99% { background-position: -3950px 0; }
  26% { background-position: -4108px 0; }
  26.99% { background-position: -4108px 0; }
  27% { background-position: -4266px 0; }
  27.99% { background-position: -4266px 0; }
  28% { background-position: -4424px 0; }
  28.99% { background-position: -4424px 0; }
  29% { background-position: -4582px 0; }
  29.99% { background-position: -4582px 0; }
  30% { background-position: -4740px 0; }
  30.99% { background-position: -4740px 0; }
  31% { background-position: -4898px 0; }
  31.99% { background-position: -4898px 0; }
  32% { background-position: -5056px 0; }
  32.99% { background-position: -5056px 0; }
  33% { background-position: -5214px 0; }
  33.99% { background-position: -5214px 0; }
  34% { background-position: -5372px 0; }
  34.99% { background-position: -5372px 0; }
  35% { background-position: -5530px 0; }
  35.99% { background-position: -5530px 0; }
  36% { background-position: -5688px 0; }
  36.99% { background-position: -5688px 0; }
  37% { background-position: -5846px 0; }
  37.99% { background-position: -5846px 0; }
  38% { background-position: -6004px 0; }
  38.99% { background-position: -6004px 0; }
  39% { background-position: -6162px 0; }
  39.99% { background-position: -6162px 0; }
  40% { background-position: -6320px 0; }
  40.99% { background-position: -6320px 0; }
  41% { background-position: -6478px 0; }
  41.99% { background-position: -6478px 0; }
  42% { background-position: -6636px 0; }
  42.99% { background-position: -6636px 0; }
  43% { background-position: -6794px 0; }
  43.99% { background-position: -6794px 0; }
  44% { background-position: -6952px 0; }
  44.99% { background-position: -6952px 0; }
  45% { background-position: -7110px 0; }
  45.99% { background-position: -7110px 0; }
  46% { background-position: -7268px 0; }
  46.99% { background-position: -7268px 0; }
  47% { background-position: -7426px 0; }
  47.99% { background-position: -7426px 0; }
  48% { background-position: -7584px 0; }
  48.99% { background-position: -7584px 0; }
  49% { background-position: -7742px 0; }
  49.99% { background-position: -7742px 0; }
  50% { background-position: -7900px 0; }
  50.99% { background-position: -7900px 0; }
  51% { background-position: -8058px 0; }
  51.99% { background-position: -8058px 0; }
  52% { background-position: -8216px 0; }
  52.99% { background-position: -8216px 0; }
  53% { background-position: -8374px 0; }
  53.99% { background-position: -8374px 0; }
  54% { background-position: -8532px 0; }
  54.99% { background-position: -8532px 0; }
  55% { background-position: -8690px 0; }
  55.99% { background-position: -8690px 0; }
  56% { background-position: -8848px 0; }
  56.99% { background-position: -8848px 0; }
  57% { background-position: -9006px 0; }
  57.99% { background-position: -9006px 0; }
  58% { background-position: -9164px 0; }
  58.99% { background-position: -9164px 0; }
  59% { background-position: -9322px 0; }
  59.99% { background-position: -9322px 0; }
  60% { background-position: -9480px 0; }
  60.99% { background-position: -9480px 0; }
  61% { background-position: -9638px 0; }
  61.99% { background-position: -9638px 0; }
  62% { background-position: -9796px 0; }
  62.99% { background-position: -9796px 0; }
  63% { background-position: -9954px 0; }
  63.99% { background-position: -9954px 0; }
  64% { background-position: -10112px 0; }
  64.99% { background-position: -10112px 0; }
  65% { background-position: -10270px 0; }
  65.99% { background-position: -10270px 0; }
  66% { background-position: -10428px 0; }
  66.99% { background-position: -10428px 0; }
  67% { background-position: -10586px 0; }
  67.99% { background-position: -10586px 0; }
  68% { background-position: -10744px 0; }
  68.99% { background-position: -10744px 0; }
  69% { background-position: -10902px 0; }
  69.99% { background-position: -10902px 0; }
  70% { background-position: -11060px 0; }
  70.99% { background-position: -11060px 0; }
  71% { background-position: -11218px 0; }
  71.99% { background-position: -11218px 0; }
  72% { background-position: -11376px 0; }
  72.99% { background-position: -11376px 0; }
  73% { background-position: -11534px 0; }
  73.99% { background-position: -11534px 0; }
  74% { background-position: -11692px 0; }
  74.99% { background-position: -11692px 0; }
  75% { background-position: -11850px 0; }
  75.99% { background-position: -11850px 0; }
  76% { background-position: -12008px 0; }
  76.99% { background-position: -12008px 0; }
  77% { background-position: -12166px 0; }
  77.99% { background-position: -12166px 0; }
  78% { background-position: -12324px 0; }
  78.99% { background-position: -12324px 0; }
  79% { background-position: -12482px 0; }
  79.99% { background-position: -12482px 0; }
  80% { background-position: -12640px 0; }
  80.99% { background-position: -12640px 0; }
  81% { background-position: -12798px 0; }
  81.99% { background-position: -12798px 0; }
  82% { background-position: -12956px 0; }
  82.99% { background-position: -12956px 0; }
  83% { background-position: -13114px 0; }
  83.99% { background-position: -13114px 0; }
  84% { background-position: -13272px 0; }
  84.99% { background-position: -13272px 0; }
  85% { background-position: -13430px 0; }
  85.99% { background-position: -13430px 0; }
  86% { background-position: -13588px 0; }
  86.99% { background-position: -13588px 0; }
  87% { background-position: -13746px 0; }
  87.99% { background-position: -13746px 0; }
  88% { background-position: -13904px 0; }
  88.99% { background-position: -13904px 0; }
  89% { background-position: -14062px 0; }
  89.99% { background-position: -14062px 0; }
  90% { background-position: -14220px 0; }
  90.99% { background-position: -14220px 0; }
  91% { background-position: -14378px 0; }
  91.99% { background-position: -14378px 0; }
  92% { background-position: -14536px 0; }
  92.99% { background-position: -14536px 0; }
  93% { background-position: -14694px 0; }
  93.99% { background-position: -14694px 0; }
  94% { background-position: -14852px 0; }
  94.99% { background-position: -14852px 0; }
  95% { background-position: -15010px 0; }
  100% { background-position: -15010px 0; }
}
@-moz-keyframes genetic-analysis {
  0% { background-position: 0 0; }
    0.99% { background-position: 0 0; }
    1% { background-position: -158px 0; }
    1.99% { background-position: -158px 0; }
    2% { background-position: -316px 0; }
    2.99% { background-position: -316px 0; }
    3% { background-position: -474px 0; }
    3.99% { background-position: -474px 0; }
    4% { background-position: -632px 0; }
    4.99% { background-position: -632px 0; }
    5% { background-position: -790px 0; }
    5.99% { background-position: -790px 0; }
    6% { background-position: -948px 0; }
    6.99% { background-position: -948px 0; }
    7% { background-position: -1106px 0; }
    7.99% { background-position: -1106px 0; }
    8% { background-position: -1264px 0; }
    8.99% { background-position: -1264px 0; }
    9% { background-position: -1422px 0; }
    9.99% { background-position: -1422px 0; }
    10% { background-position: -1580px 0; }
    10.99% { background-position: -1580px 0; }
    11% { background-position: -1738px 0; }
    11.99% { background-position: -1738px 0; }
    12% { background-position: -1896px 0; }
    12.99% { background-position: -1896px 0; }
    13% { background-position: -2054px 0; }
    13.99% { background-position: -2054px 0; }
    14% { background-position: -2212px 0; }
    14.99% { background-position: -2212px 0; }
    15% { background-position: -2370px 0; }
    15.99% { background-position: -2370px 0; }
    16% { background-position: -2528px 0; }
    16.99% { background-position: -2528px 0; }
    17% { background-position: -2686px 0; }
    17.99% { background-position: -2686px 0; }
    18% { background-position: -2844px 0; }
    18.99% { background-position: -2844px 0; }
    19% { background-position: -3002px 0; }
    19.99% { background-position: -3002px 0; }
    20% { background-position: -3160px 0; }
    20.99% { background-position: -3160px 0; }
    21% { background-position: -3318px 0; }
    21.99% { background-position: -3318px 0; }
    22% { background-position: -3476px 0; }
    22.99% { background-position: -3476px 0; }
    23% { background-position: -3634px 0; }
    23.99% { background-position: -3634px 0; }
    24% { background-position: -3792px 0; }
    24.99% { background-position: -3792px 0; }
    25% { background-position: -3950px 0; }
    25.99% { background-position: -3950px 0; }
    26% { background-position: -4108px 0; }
    26.99% { background-position: -4108px 0; }
    27% { background-position: -4266px 0; }
    27.99% { background-position: -4266px 0; }
    28% { background-position: -4424px 0; }
    28.99% { background-position: -4424px 0; }
    29% { background-position: -4582px 0; }
    29.99% { background-position: -4582px 0; }
    30% { background-position: -4740px 0; }
    30.99% { background-position: -4740px 0; }
    31% { background-position: -4898px 0; }
    31.99% { background-position: -4898px 0; }
    32% { background-position: -5056px 0; }
    32.99% { background-position: -5056px 0; }
    33% { background-position: -5214px 0; }
    33.99% { background-position: -5214px 0; }
    34% { background-position: -5372px 0; }
    34.99% { background-position: -5372px 0; }
    35% { background-position: -5530px 0; }
    35.99% { background-position: -5530px 0; }
    36% { background-position: -5688px 0; }
    36.99% { background-position: -5688px 0; }
    37% { background-position: -5846px 0; }
    37.99% { background-position: -5846px 0; }
    38% { background-position: -6004px 0; }
    38.99% { background-position: -6004px 0; }
    39% { background-position: -6162px 0; }
    39.99% { background-position: -6162px 0; }
    40% { background-position: -6320px 0; }
    40.99% { background-position: -6320px 0; }
    41% { background-position: -6478px 0; }
    41.99% { background-position: -6478px 0; }
    42% { background-position: -6636px 0; }
    42.99% { background-position: -6636px 0; }
    43% { background-position: -6794px 0; }
    43.99% { background-position: -6794px 0; }
    44% { background-position: -6952px 0; }
    44.99% { background-position: -6952px 0; }
    45% { background-position: -7110px 0; }
    45.99% { background-position: -7110px 0; }
    46% { background-position: -7268px 0; }
    46.99% { background-position: -7268px 0; }
    47% { background-position: -7426px 0; }
    47.99% { background-position: -7426px 0; }
    48% { background-position: -7584px 0; }
    48.99% { background-position: -7584px 0; }
    49% { background-position: -7742px 0; }
    49.99% { background-position: -7742px 0; }
    50% { background-position: -7900px 0; }
    50.99% { background-position: -7900px 0; }
    51% { background-position: -8058px 0; }
    51.99% { background-position: -8058px 0; }
    52% { background-position: -8216px 0; }
    52.99% { background-position: -8216px 0; }
    53% { background-position: -8374px 0; }
    53.99% { background-position: -8374px 0; }
    54% { background-position: -8532px 0; }
    54.99% { background-position: -8532px 0; }
    55% { background-position: -8690px 0; }
    55.99% { background-position: -8690px 0; }
    56% { background-position: -8848px 0; }
    56.99% { background-position: -8848px 0; }
    57% { background-position: -9006px 0; }
    57.99% { background-position: -9006px 0; }
    58% { background-position: -9164px 0; }
    58.99% { background-position: -9164px 0; }
    59% { background-position: -9322px 0; }
    59.99% { background-position: -9322px 0; }
    60% { background-position: -9480px 0; }
    60.99% { background-position: -9480px 0; }
    61% { background-position: -9638px 0; }
    61.99% { background-position: -9638px 0; }
    62% { background-position: -9796px 0; }
    62.99% { background-position: -9796px 0; }
    63% { background-position: -9954px 0; }
    63.99% { background-position: -9954px 0; }
    64% { background-position: -10112px 0; }
    64.99% { background-position: -10112px 0; }
    65% { background-position: -10270px 0; }
    65.99% { background-position: -10270px 0; }
    66% { background-position: -10428px 0; }
    66.99% { background-position: -10428px 0; }
    67% { background-position: -10586px 0; }
    67.99% { background-position: -10586px 0; }
    68% { background-position: -10744px 0; }
    68.99% { background-position: -10744px 0; }
    69% { background-position: -10902px 0; }
    69.99% { background-position: -10902px 0; }
    70% { background-position: -11060px 0; }
    70.99% { background-position: -11060px 0; }
    71% { background-position: -11218px 0; }
    71.99% { background-position: -11218px 0; }
    72% { background-position: -11376px 0; }
    72.99% { background-position: -11376px 0; }
    73% { background-position: -11534px 0; }
    73.99% { background-position: -11534px 0; }
    74% { background-position: -11692px 0; }
    74.99% { background-position: -11692px 0; }
    75% { background-position: -11850px 0; }
    75.99% { background-position: -11850px 0; }
    76% { background-position: -12008px 0; }
    76.99% { background-position: -12008px 0; }
    77% { background-position: -12166px 0; }
    77.99% { background-position: -12166px 0; }
    78% { background-position: -12324px 0; }
    78.99% { background-position: -12324px 0; }
    79% { background-position: -12482px 0; }
    79.99% { background-position: -12482px 0; }
    80% { background-position: -12640px 0; }
    80.99% { background-position: -12640px 0; }
    81% { background-position: -12798px 0; }
    81.99% { background-position: -12798px 0; }
    82% { background-position: -12956px 0; }
    82.99% { background-position: -12956px 0; }
    83% { background-position: -13114px 0; }
    83.99% { background-position: -13114px 0; }
    84% { background-position: -13272px 0; }
    84.99% { background-position: -13272px 0; }
    85% { background-position: -13430px 0; }
    85.99% { background-position: -13430px 0; }
    86% { background-position: -13588px 0; }
    86.99% { background-position: -13588px 0; }
    87% { background-position: -13746px 0; }
    87.99% { background-position: -13746px 0; }
    88% { background-position: -13904px 0; }
    88.99% { background-position: -13904px 0; }
    89% { background-position: -14062px 0; }
    89.99% { background-position: -14062px 0; }
    90% { background-position: -14220px 0; }
    90.99% { background-position: -14220px 0; }
    91% { background-position: -14378px 0; }
    91.99% { background-position: -14378px 0; }
    92% { background-position: -14536px 0; }
    92.99% { background-position: -14536px 0; }
    93% { background-position: -14694px 0; }
    93.99% { background-position: -14694px 0; }
    94% { background-position: -14852px 0; }
    94.99% { background-position: -14852px 0; }
    95% { background-position: -15010px 0; }
    100% { background-position: -15010px 0; }
}
@-ms-keyframes genetic-analysis {
  0% { background-position: 0 0; }
    0.99% { background-position: 0 0; }
    1% { background-position: -158px 0; }
    1.99% { background-position: -158px 0; }
    2% { background-position: -316px 0; }
    2.99% { background-position: -316px 0; }
    3% { background-position: -474px 0; }
    3.99% { background-position: -474px 0; }
    4% { background-position: -632px 0; }
    4.99% { background-position: -632px 0; }
    5% { background-position: -790px 0; }
    5.99% { background-position: -790px 0; }
    6% { background-position: -948px 0; }
    6.99% { background-position: -948px 0; }
    7% { background-position: -1106px 0; }
    7.99% { background-position: -1106px 0; }
    8% { background-position: -1264px 0; }
    8.99% { background-position: -1264px 0; }
    9% { background-position: -1422px 0; }
    9.99% { background-position: -1422px 0; }
    10% { background-position: -1580px 0; }
    10.99% { background-position: -1580px 0; }
    11% { background-position: -1738px 0; }
    11.99% { background-position: -1738px 0; }
    12% { background-position: -1896px 0; }
    12.99% { background-position: -1896px 0; }
    13% { background-position: -2054px 0; }
    13.99% { background-position: -2054px 0; }
    14% { background-position: -2212px 0; }
    14.99% { background-position: -2212px 0; }
    15% { background-position: -2370px 0; }
    15.99% { background-position: -2370px 0; }
    16% { background-position: -2528px 0; }
    16.99% { background-position: -2528px 0; }
    17% { background-position: -2686px 0; }
    17.99% { background-position: -2686px 0; }
    18% { background-position: -2844px 0; }
    18.99% { background-position: -2844px 0; }
    19% { background-position: -3002px 0; }
    19.99% { background-position: -3002px 0; }
    20% { background-position: -3160px 0; }
    20.99% { background-position: -3160px 0; }
    21% { background-position: -3318px 0; }
    21.99% { background-position: -3318px 0; }
    22% { background-position: -3476px 0; }
    22.99% { background-position: -3476px 0; }
    23% { background-position: -3634px 0; }
    23.99% { background-position: -3634px 0; }
    24% { background-position: -3792px 0; }
    24.99% { background-position: -3792px 0; }
    25% { background-position: -3950px 0; }
    25.99% { background-position: -3950px 0; }
    26% { background-position: -4108px 0; }
    26.99% { background-position: -4108px 0; }
    27% { background-position: -4266px 0; }
    27.99% { background-position: -4266px 0; }
    28% { background-position: -4424px 0; }
    28.99% { background-position: -4424px 0; }
    29% { background-position: -4582px 0; }
    29.99% { background-position: -4582px 0; }
    30% { background-position: -4740px 0; }
    30.99% { background-position: -4740px 0; }
    31% { background-position: -4898px 0; }
    31.99% { background-position: -4898px 0; }
    32% { background-position: -5056px 0; }
    32.99% { background-position: -5056px 0; }
    33% { background-position: -5214px 0; }
    33.99% { background-position: -5214px 0; }
    34% { background-position: -5372px 0; }
    34.99% { background-position: -5372px 0; }
    35% { background-position: -5530px 0; }
    35.99% { background-position: -5530px 0; }
    36% { background-position: -5688px 0; }
    36.99% { background-position: -5688px 0; }
    37% { background-position: -5846px 0; }
    37.99% { background-position: -5846px 0; }
    38% { background-position: -6004px 0; }
    38.99% { background-position: -6004px 0; }
    39% { background-position: -6162px 0; }
    39.99% { background-position: -6162px 0; }
    40% { background-position: -6320px 0; }
    40.99% { background-position: -6320px 0; }
    41% { background-position: -6478px 0; }
    41.99% { background-position: -6478px 0; }
    42% { background-position: -6636px 0; }
    42.99% { background-position: -6636px 0; }
    43% { background-position: -6794px 0; }
    43.99% { background-position: -6794px 0; }
    44% { background-position: -6952px 0; }
    44.99% { background-position: -6952px 0; }
    45% { background-position: -7110px 0; }
    45.99% { background-position: -7110px 0; }
    46% { background-position: -7268px 0; }
    46.99% { background-position: -7268px 0; }
    47% { background-position: -7426px 0; }
    47.99% { background-position: -7426px 0; }
    48% { background-position: -7584px 0; }
    48.99% { background-position: -7584px 0; }
    49% { background-position: -7742px 0; }
    49.99% { background-position: -7742px 0; }
    50% { background-position: -7900px 0; }
    50.99% { background-position: -7900px 0; }
    51% { background-position: -8058px 0; }
    51.99% { background-position: -8058px 0; }
    52% { background-position: -8216px 0; }
    52.99% { background-position: -8216px 0; }
    53% { background-position: -8374px 0; }
    53.99% { background-position: -8374px 0; }
    54% { background-position: -8532px 0; }
    54.99% { background-position: -8532px 0; }
    55% { background-position: -8690px 0; }
    55.99% { background-position: -8690px 0; }
    56% { background-position: -8848px 0; }
    56.99% { background-position: -8848px 0; }
    57% { background-position: -9006px 0; }
    57.99% { background-position: -9006px 0; }
    58% { background-position: -9164px 0; }
    58.99% { background-position: -9164px 0; }
    59% { background-position: -9322px 0; }
    59.99% { background-position: -9322px 0; }
    60% { background-position: -9480px 0; }
    60.99% { background-position: -9480px 0; }
    61% { background-position: -9638px 0; }
    61.99% { background-position: -9638px 0; }
    62% { background-position: -9796px 0; }
    62.99% { background-position: -9796px 0; }
    63% { background-position: -9954px 0; }
    63.99% { background-position: -9954px 0; }
    64% { background-position: -10112px 0; }
    64.99% { background-position: -10112px 0; }
    65% { background-position: -10270px 0; }
    65.99% { background-position: -10270px 0; }
    66% { background-position: -10428px 0; }
    66.99% { background-position: -10428px 0; }
    67% { background-position: -10586px 0; }
    67.99% { background-position: -10586px 0; }
    68% { background-position: -10744px 0; }
    68.99% { background-position: -10744px 0; }
    69% { background-position: -10902px 0; }
    69.99% { background-position: -10902px 0; }
    70% { background-position: -11060px 0; }
    70.99% { background-position: -11060px 0; }
    71% { background-position: -11218px 0; }
    71.99% { background-position: -11218px 0; }
    72% { background-position: -11376px 0; }
    72.99% { background-position: -11376px 0; }
    73% { background-position: -11534px 0; }
    73.99% { background-position: -11534px 0; }
    74% { background-position: -11692px 0; }
    74.99% { background-position: -11692px 0; }
    75% { background-position: -11850px 0; }
    75.99% { background-position: -11850px 0; }
    76% { background-position: -12008px 0; }
    76.99% { background-position: -12008px 0; }
    77% { background-position: -12166px 0; }
    77.99% { background-position: -12166px 0; }
    78% { background-position: -12324px 0; }
    78.99% { background-position: -12324px 0; }
    79% { background-position: -12482px 0; }
    79.99% { background-position: -12482px 0; }
    80% { background-position: -12640px 0; }
    80.99% { background-position: -12640px 0; }
    81% { background-position: -12798px 0; }
    81.99% { background-position: -12798px 0; }
    82% { background-position: -12956px 0; }
    82.99% { background-position: -12956px 0; }
    83% { background-position: -13114px 0; }
    83.99% { background-position: -13114px 0; }
    84% { background-position: -13272px 0; }
    84.99% { background-position: -13272px 0; }
    85% { background-position: -13430px 0; }
    85.99% { background-position: -13430px 0; }
    86% { background-position: -13588px 0; }
    86.99% { background-position: -13588px 0; }
    87% { background-position: -13746px 0; }
    87.99% { background-position: -13746px 0; }
    88% { background-position: -13904px 0; }
    88.99% { background-position: -13904px 0; }
    89% { background-position: -14062px 0; }
    89.99% { background-position: -14062px 0; }
    90% { background-position: -14220px 0; }
    90.99% { background-position: -14220px 0; }
    91% { background-position: -14378px 0; }
    91.99% { background-position: -14378px 0; }
    92% { background-position: -14536px 0; }
    92.99% { background-position: -14536px 0; }
    93% { background-position: -14694px 0; }
    93.99% { background-position: -14694px 0; }
    94% { background-position: -14852px 0; }
    94.99% { background-position: -14852px 0; }
    95% { background-position: -15010px 0; }
    100% { background-position: -15010px 0; }
}
@-o-keyframes genetic-analysis {
  0% { background-position: 0 0; }
    0.99% { background-position: 0 0; }
    1% { background-position: -158px 0; }
    1.99% { background-position: -158px 0; }
    2% { background-position: -316px 0; }
    2.99% { background-position: -316px 0; }
    3% { background-position: -474px 0; }
    3.99% { background-position: -474px 0; }
    4% { background-position: -632px 0; }
    4.99% { background-position: -632px 0; }
    5% { background-position: -790px 0; }
    5.99% { background-position: -790px 0; }
    6% { background-position: -948px 0; }
    6.99% { background-position: -948px 0; }
    7% { background-position: -1106px 0; }
    7.99% { background-position: -1106px 0; }
    8% { background-position: -1264px 0; }
    8.99% { background-position: -1264px 0; }
    9% { background-position: -1422px 0; }
    9.99% { background-position: -1422px 0; }
    10% { background-position: -1580px 0; }
    10.99% { background-position: -1580px 0; }
    11% { background-position: -1738px 0; }
    11.99% { background-position: -1738px 0; }
    12% { background-position: -1896px 0; }
    12.99% { background-position: -1896px 0; }
    13% { background-position: -2054px 0; }
    13.99% { background-position: -2054px 0; }
    14% { background-position: -2212px 0; }
    14.99% { background-position: -2212px 0; }
    15% { background-position: -2370px 0; }
    15.99% { background-position: -2370px 0; }
    16% { background-position: -2528px 0; }
    16.99% { background-position: -2528px 0; }
    17% { background-position: -2686px 0; }
    17.99% { background-position: -2686px 0; }
    18% { background-position: -2844px 0; }
    18.99% { background-position: -2844px 0; }
    19% { background-position: -3002px 0; }
    19.99% { background-position: -3002px 0; }
    20% { background-position: -3160px 0; }
    20.99% { background-position: -3160px 0; }
    21% { background-position: -3318px 0; }
    21.99% { background-position: -3318px 0; }
    22% { background-position: -3476px 0; }
    22.99% { background-position: -3476px 0; }
    23% { background-position: -3634px 0; }
    23.99% { background-position: -3634px 0; }
    24% { background-position: -3792px 0; }
    24.99% { background-position: -3792px 0; }
    25% { background-position: -3950px 0; }
    25.99% { background-position: -3950px 0; }
    26% { background-position: -4108px 0; }
    26.99% { background-position: -4108px 0; }
    27% { background-position: -4266px 0; }
    27.99% { background-position: -4266px 0; }
    28% { background-position: -4424px 0; }
    28.99% { background-position: -4424px 0; }
    29% { background-position: -4582px 0; }
    29.99% { background-position: -4582px 0; }
    30% { background-position: -4740px 0; }
    30.99% { background-position: -4740px 0; }
    31% { background-position: -4898px 0; }
    31.99% { background-position: -4898px 0; }
    32% { background-position: -5056px 0; }
    32.99% { background-position: -5056px 0; }
    33% { background-position: -5214px 0; }
    33.99% { background-position: -5214px 0; }
    34% { background-position: -5372px 0; }
    34.99% { background-position: -5372px 0; }
    35% { background-position: -5530px 0; }
    35.99% { background-position: -5530px 0; }
    36% { background-position: -5688px 0; }
    36.99% { background-position: -5688px 0; }
    37% { background-position: -5846px 0; }
    37.99% { background-position: -5846px 0; }
    38% { background-position: -6004px 0; }
    38.99% { background-position: -6004px 0; }
    39% { background-position: -6162px 0; }
    39.99% { background-position: -6162px 0; }
    40% { background-position: -6320px 0; }
    40.99% { background-position: -6320px 0; }
    41% { background-position: -6478px 0; }
    41.99% { background-position: -6478px 0; }
    42% { background-position: -6636px 0; }
    42.99% { background-position: -6636px 0; }
    43% { background-position: -6794px 0; }
    43.99% { background-position: -6794px 0; }
    44% { background-position: -6952px 0; }
    44.99% { background-position: -6952px 0; }
    45% { background-position: -7110px 0; }
    45.99% { background-position: -7110px 0; }
    46% { background-position: -7268px 0; }
    46.99% { background-position: -7268px 0; }
    47% { background-position: -7426px 0; }
    47.99% { background-position: -7426px 0; }
    48% { background-position: -7584px 0; }
    48.99% { background-position: -7584px 0; }
    49% { background-position: -7742px 0; }
    49.99% { background-position: -7742px 0; }
    50% { background-position: -7900px 0; }
    50.99% { background-position: -7900px 0; }
    51% { background-position: -8058px 0; }
    51.99% { background-position: -8058px 0; }
    52% { background-position: -8216px 0; }
    52.99% { background-position: -8216px 0; }
    53% { background-position: -8374px 0; }
    53.99% { background-position: -8374px 0; }
    54% { background-position: -8532px 0; }
    54.99% { background-position: -8532px 0; }
    55% { background-position: -8690px 0; }
    55.99% { background-position: -8690px 0; }
    56% { background-position: -8848px 0; }
    56.99% { background-position: -8848px 0; }
    57% { background-position: -9006px 0; }
    57.99% { background-position: -9006px 0; }
    58% { background-position: -9164px 0; }
    58.99% { background-position: -9164px 0; }
    59% { background-position: -9322px 0; }
    59.99% { background-position: -9322px 0; }
    60% { background-position: -9480px 0; }
    60.99% { background-position: -9480px 0; }
    61% { background-position: -9638px 0; }
    61.99% { background-position: -9638px 0; }
    62% { background-position: -9796px 0; }
    62.99% { background-position: -9796px 0; }
    63% { background-position: -9954px 0; }
    63.99% { background-position: -9954px 0; }
    64% { background-position: -10112px 0; }
    64.99% { background-position: -10112px 0; }
    65% { background-position: -10270px 0; }
    65.99% { background-position: -10270px 0; }
    66% { background-position: -10428px 0; }
    66.99% { background-position: -10428px 0; }
    67% { background-position: -10586px 0; }
    67.99% { background-position: -10586px 0; }
    68% { background-position: -10744px 0; }
    68.99% { background-position: -10744px 0; }
    69% { background-position: -10902px 0; }
    69.99% { background-position: -10902px 0; }
    70% { background-position: -11060px 0; }
    70.99% { background-position: -11060px 0; }
    71% { background-position: -11218px 0; }
    71.99% { background-position: -11218px 0; }
    72% { background-position: -11376px 0; }
    72.99% { background-position: -11376px 0; }
    73% { background-position: -11534px 0; }
    73.99% { background-position: -11534px 0; }
    74% { background-position: -11692px 0; }
    74.99% { background-position: -11692px 0; }
    75% { background-position: -11850px 0; }
    75.99% { background-position: -11850px 0; }
    76% { background-position: -12008px 0; }
    76.99% { background-position: -12008px 0; }
    77% { background-position: -12166px 0; }
    77.99% { background-position: -12166px 0; }
    78% { background-position: -12324px 0; }
    78.99% { background-position: -12324px 0; }
    79% { background-position: -12482px 0; }
    79.99% { background-position: -12482px 0; }
    80% { background-position: -12640px 0; }
    80.99% { background-position: -12640px 0; }
    81% { background-position: -12798px 0; }
    81.99% { background-position: -12798px 0; }
    82% { background-position: -12956px 0; }
    82.99% { background-position: -12956px 0; }
    83% { background-position: -13114px 0; }
    83.99% { background-position: -13114px 0; }
    84% { background-position: -13272px 0; }
    84.99% { background-position: -13272px 0; }
    85% { background-position: -13430px 0; }
    85.99% { background-position: -13430px 0; }
    86% { background-position: -13588px 0; }
    86.99% { background-position: -13588px 0; }
    87% { background-position: -13746px 0; }
    87.99% { background-position: -13746px 0; }
    88% { background-position: -13904px 0; }
    88.99% { background-position: -13904px 0; }
    89% { background-position: -14062px 0; }
    89.99% { background-position: -14062px 0; }
    90% { background-position: -14220px 0; }
    90.99% { background-position: -14220px 0; }
    91% { background-position: -14378px 0; }
    91.99% { background-position: -14378px 0; }
    92% { background-position: -14536px 0; }
    92.99% { background-position: -14536px 0; }
    93% { background-position: -14694px 0; }
    93.99% { background-position: -14694px 0; }
    94% { background-position: -14852px 0; }
    94.99% { background-position: -14852px 0; }
    95% { background-position: -15010px 0; }
    100% { background-position: -15010px 0; }
}
@keyframes genetic-analysis {
  0% { background-position: 0 0; }
    0.99% { background-position: 0 0; }
    1% { background-position: -158px 0; }
    1.99% { background-position: -158px 0; }
    2% { background-position: -316px 0; }
    2.99% { background-position: -316px 0; }
    3% { background-position: -474px 0; }
    3.99% { background-position: -474px 0; }
    4% { background-position: -632px 0; }
    4.99% { background-position: -632px 0; }
    5% { background-position: -790px 0; }
    5.99% { background-position: -790px 0; }
    6% { background-position: -948px 0; }
    6.99% { background-position: -948px 0; }
    7% { background-position: -1106px 0; }
    7.99% { background-position: -1106px 0; }
    8% { background-position: -1264px 0; }
    8.99% { background-position: -1264px 0; }
    9% { background-position: -1422px 0; }
    9.99% { background-position: -1422px 0; }
    10% { background-position: -1580px 0; }
    10.99% { background-position: -1580px 0; }
    11% { background-position: -1738px 0; }
    11.99% { background-position: -1738px 0; }
    12% { background-position: -1896px 0; }
    12.99% { background-position: -1896px 0; }
    13% { background-position: -2054px 0; }
    13.99% { background-position: -2054px 0; }
    14% { background-position: -2212px 0; }
    14.99% { background-position: -2212px 0; }
    15% { background-position: -2370px 0; }
    15.99% { background-position: -2370px 0; }
    16% { background-position: -2528px 0; }
    16.99% { background-position: -2528px 0; }
    17% { background-position: -2686px 0; }
    17.99% { background-position: -2686px 0; }
    18% { background-position: -2844px 0; }
    18.99% { background-position: -2844px 0; }
    19% { background-position: -3002px 0; }
    19.99% { background-position: -3002px 0; }
    20% { background-position: -3160px 0; }
    20.99% { background-position: -3160px 0; }
    21% { background-position: -3318px 0; }
    21.99% { background-position: -3318px 0; }
    22% { background-position: -3476px 0; }
    22.99% { background-position: -3476px 0; }
    23% { background-position: -3634px 0; }
    23.99% { background-position: -3634px 0; }
    24% { background-position: -3792px 0; }
    24.99% { background-position: -3792px 0; }
    25% { background-position: -3950px 0; }
    25.99% { background-position: -3950px 0; }
    26% { background-position: -4108px 0; }
    26.99% { background-position: -4108px 0; }
    27% { background-position: -4266px 0; }
    27.99% { background-position: -4266px 0; }
    28% { background-position: -4424px 0; }
    28.99% { background-position: -4424px 0; }
    29% { background-position: -4582px 0; }
    29.99% { background-position: -4582px 0; }
    30% { background-position: -4740px 0; }
    30.99% { background-position: -4740px 0; }
    31% { background-position: -4898px 0; }
    31.99% { background-position: -4898px 0; }
    32% { background-position: -5056px 0; }
    32.99% { background-position: -5056px 0; }
    33% { background-position: -5214px 0; }
    33.99% { background-position: -5214px 0; }
    34% { background-position: -5372px 0; }
    34.99% { background-position: -5372px 0; }
    35% { background-position: -5530px 0; }
    35.99% { background-position: -5530px 0; }
    36% { background-position: -5688px 0; }
    36.99% { background-position: -5688px 0; }
    37% { background-position: -5846px 0; }
    37.99% { background-position: -5846px 0; }
    38% { background-position: -6004px 0; }
    38.99% { background-position: -6004px 0; }
    39% { background-position: -6162px 0; }
    39.99% { background-position: -6162px 0; }
    40% { background-position: -6320px 0; }
    40.99% { background-position: -6320px 0; }
    41% { background-position: -6478px 0; }
    41.99% { background-position: -6478px 0; }
    42% { background-position: -6636px 0; }
    42.99% { background-position: -6636px 0; }
    43% { background-position: -6794px 0; }
    43.99% { background-position: -6794px 0; }
    44% { background-position: -6952px 0; }
    44.99% { background-position: -6952px 0; }
    45% { background-position: -7110px 0; }
    45.99% { background-position: -7110px 0; }
    46% { background-position: -7268px 0; }
    46.99% { background-position: -7268px 0; }
    47% { background-position: -7426px 0; }
    47.99% { background-position: -7426px 0; }
    48% { background-position: -7584px 0; }
    48.99% { background-position: -7584px 0; }
    49% { background-position: -7742px 0; }
    49.99% { background-position: -7742px 0; }
    50% { background-position: -7900px 0; }
    50.99% { background-position: -7900px 0; }
    51% { background-position: -8058px 0; }
    51.99% { background-position: -8058px 0; }
    52% { background-position: -8216px 0; }
    52.99% { background-position: -8216px 0; }
    53% { background-position: -8374px 0; }
    53.99% { background-position: -8374px 0; }
    54% { background-position: -8532px 0; }
    54.99% { background-position: -8532px 0; }
    55% { background-position: -8690px 0; }
    55.99% { background-position: -8690px 0; }
    56% { background-position: -8848px 0; }
    56.99% { background-position: -8848px 0; }
    57% { background-position: -9006px 0; }
    57.99% { background-position: -9006px 0; }
    58% { background-position: -9164px 0; }
    58.99% { background-position: -9164px 0; }
    59% { background-position: -9322px 0; }
    59.99% { background-position: -9322px 0; }
    60% { background-position: -9480px 0; }
    60.99% { background-position: -9480px 0; }
    61% { background-position: -9638px 0; }
    61.99% { background-position: -9638px 0; }
    62% { background-position: -9796px 0; }
    62.99% { background-position: -9796px 0; }
    63% { background-position: -9954px 0; }
    63.99% { background-position: -9954px 0; }
    64% { background-position: -10112px 0; }
    64.99% { background-position: -10112px 0; }
    65% { background-position: -10270px 0; }
    65.99% { background-position: -10270px 0; }
    66% { background-position: -10428px 0; }
    66.99% { background-position: -10428px 0; }
    67% { background-position: -10586px 0; }
    67.99% { background-position: -10586px 0; }
    68% { background-position: -10744px 0; }
    68.99% { background-position: -10744px 0; }
    69% { background-position: -10902px 0; }
    69.99% { background-position: -10902px 0; }
    70% { background-position: -11060px 0; }
    70.99% { background-position: -11060px 0; }
    71% { background-position: -11218px 0; }
    71.99% { background-position: -11218px 0; }
    72% { background-position: -11376px 0; }
    72.99% { background-position: -11376px 0; }
    73% { background-position: -11534px 0; }
    73.99% { background-position: -11534px 0; }
    74% { background-position: -11692px 0; }
    74.99% { background-position: -11692px 0; }
    75% { background-position: -11850px 0; }
    75.99% { background-position: -11850px 0; }
    76% { background-position: -12008px 0; }
    76.99% { background-position: -12008px 0; }
    77% { background-position: -12166px 0; }
    77.99% { background-position: -12166px 0; }
    78% { background-position: -12324px 0; }
    78.99% { background-position: -12324px 0; }
    79% { background-position: -12482px 0; }
    79.99% { background-position: -12482px 0; }
    80% { background-position: -12640px 0; }
    80.99% { background-position: -12640px 0; }
    81% { background-position: -12798px 0; }
    81.99% { background-position: -12798px 0; }
    82% { background-position: -12956px 0; }
    82.99% { background-position: -12956px 0; }
    83% { background-position: -13114px 0; }
    83.99% { background-position: -13114px 0; }
    84% { background-position: -13272px 0; }
    84.99% { background-position: -13272px 0; }
    85% { background-position: -13430px 0; }
    85.99% { background-position: -13430px 0; }
    86% { background-position: -13588px 0; }
    86.99% { background-position: -13588px 0; }
    87% { background-position: -13746px 0; }
    87.99% { background-position: -13746px 0; }
    88% { background-position: -13904px 0; }
    88.99% { background-position: -13904px 0; }
    89% { background-position: -14062px 0; }
    89.99% { background-position: -14062px 0; }
    90% { background-position: -14220px 0; }
    90.99% { background-position: -14220px 0; }
    91% { background-position: -14378px 0; }
    91.99% { background-position: -14378px 0; }
    92% { background-position: -14536px 0; }
    92.99% { background-position: -14536px 0; }
    93% { background-position: -14694px 0; }
    93.99% { background-position: -14694px 0; }
    94% { background-position: -14852px 0; }
    94.99% { background-position: -14852px 0; }
    95% { background-position: -15010px 0; }
    100% { background-position: -15010px 0; }
}


