/*Animations*/

.icon.beak.animate {
  -webkit-animation: measure-beak 0.33s linear 0s 1 normal;
   -moz-animation: measure-beak 0.33s linear 0s 1 normal;
    -ms-animation: measure-beak 0.33s linear 0s 1 normal;
     -o-animation: measure-beak 0.33s linear 0s 1 normal;
        animation: measure-beak 0.33s linear 0s 1 normal;
}

.icon.tail.animate {
  -webkit-animation: measure-tail 0.33s linear 0s 1 normal;
     -moz-animation: measure-tail 0.33s linear 0s 1 normal;
      -ms-animation: measure-tail 0.33s linear 0s 1 normal;
       -o-animation: measure-tail 0.33s linear 0s 1 normal;
          animation: measure-tail 0.33s linear 0s 1 normal;
}

.icon.wing.animate {
  -webkit-animation: measure-wing 0.33s linear 0s 1 normal;
     -moz-animation: measure-wing 0.33s linear 0s 1 normal;
      -ms-animation: measure-wing 0.33s linear 0s 1 normal;
       -o-animation: measure-wing 0.33s linear 0s 1 normal;
          animation: measure-wing 0.33s linear 0s 1 normal;
}



/*measure beak*/
@-webkit-keyframes measure-beak {
  0% { background-position: 0 0 }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -170px 0;}
  33.33% {background-position: -170px 0;}
  33.34% {background-position: -340px 0;}
  49.99% {background-position: -340px 0;}
  50% {background-position: -510px 0;}
  66.66% {background-position: -510px 0;}
  66.67% {background-position: -680px 0;}
  83.33% {background-position: -680px 0;}
  83.34% {background-position: -850px 0;}
  100% { background-position: -850px 0 }
}
@-moz-keyframes measure-beak {
  0% { background-position: 0 0 }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -170px 0;}
  33.33% {background-position: -170px 0;}
  33.34% {background-position: -340px 0;}
  49.99% {background-position: -340px 0;}
  50% {background-position: -510px 0;}
  66.66% {background-position: -510px 0;}
  66.67% {background-position: -680px 0;}
  83.33% {background-position: -680px 0;}
  83.34% {background-position: -850px 0;}
  100% { background-position: -850px 0 }
}
@-ms-keyframes measure-beak {
  0% { background-position: 0 0 }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -170px 0;}
  33.33% {background-position: -170px 0;}
  33.34% {background-position: -340px 0;}
  49.99% {background-position: -340px 0;}
  50% {background-position: -510px 0;}
  66.66% {background-position: -510px 0;}
  66.67% {background-position: -680px 0;}
  83.33% {background-position: -680px 0;}
  83.34% {background-position: -850px 0;}
  100% { background-position: -850px 0 }
}
@-o-keyframes measure-beak {
  0% { background-position: 0 0 }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -170px 0;}
  33.33% {background-position: -170px 0;}
  33.34% {background-position: -340px 0;}
  49.99% {background-position: -340px 0;}
  50% {background-position: -510px 0;}
  66.66% {background-position: -510px 0;}
  66.67% {background-position: -680px 0;}
  83.33% {background-position: -680px 0;}
  83.34% {background-position: -850px 0;}
  100% { background-position: -850px 0 }
}
@keyframes measure-beak {
  0% { background-position: 0 0 }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -170px 0;}
  33.33% {background-position: -170px 0;}
  33.34% {background-position: -340px 0;}
  49.99% {background-position: -340px 0;}
  50% {background-position: -510px 0;}
  66.66% {background-position: -510px 0;}
  66.67% {background-position: -680px 0;}
  83.33% {background-position: -680px 0;}
  83.34% {background-position: -850px 0;}
  100% { background-position: -850px 0 }
}


/*measure tail*/
@-webkit-keyframes measure-tail {
  0% { background-position: 0 0;}
  16.66% {background-position: 0 0;}
  16.67% {background-position: -100px 0;}
  33.33% {background-position: -100px 0;}
  33.34% {background-position: -200px 0;}
  49.99% {background-position: -200px 0;}
  50% {background-position: -300px 0;}
  66.66% {background-position: -300px 0;}
  66.67% {background-position: -400px 0;}
  83.33% {background-position: -400px 0;}
  83.34% {background-position: -500px 0;}
  100% { background-position: -500px 0; }
}
@-moz-keyframes measure-tail {
  0% { background-position: 0 0;}
  16.66% {background-position: 0 0;}
  16.67% {background-position: -100px 0;}
  33.33% {background-position: -100px 0;}
  33.34% {background-position: -200px 0;}
  49.99% {background-position: -200px 0;}
  50% {background-position: -300px 0;}
  66.66% {background-position: -300px 0;}
  66.67% {background-position: -400px 0;}
  83.33% {background-position: -400px 0;}
  83.34% {background-position: -500px 0;}
  100% { background-position: -500px 0; }
}
@-ms-keyframes measure-tail {
  0% { background-position: 0 0;}
  16.66% {background-position: 0 0;}
  16.67% {background-position: -100px 0;}
  33.33% {background-position: -100px 0;}
  33.34% {background-position: -200px 0;}
  49.99% {background-position: -200px 0;}
  50% {background-position: -300px 0;}
  66.66% {background-position: -300px 0;}
  66.67% {background-position: -400px 0;}
  83.33% {background-position: -400px 0;}
  83.34% {background-position: -500px 0;}
  100% { background-position: -500px 0; }
}
@-o-keyframes measure-tail {
  0% { background-position: 0 0;}
  16.66% {background-position: 0 0;}
  16.67% {background-position: -100px 0;}
  33.33% {background-position: -100px 0;}
  33.34% {background-position: -200px 0;}
  49.99% {background-position: -200px 0;}
  50% {background-position: -300px 0;}
  66.66% {background-position: -300px 0;}
  66.67% {background-position: -400px 0;}
  83.33% {background-position: -400px 0;}
  83.34% {background-position: -500px 0;}
  100% { background-position: -500px 0; }
}
@keyframes measure-tail {
  0% { background-position: 0 0;}
  16.66% {background-position: 0 0;}
  16.67% {background-position: -100px 0;}
  33.33% {background-position: -100px 0;}
  33.34% {background-position: -200px 0;}
  49.99% {background-position: -200px 0;}
  50% {background-position: -300px 0;}
  66.66% {background-position: -300px 0;}
  66.67% {background-position: -400px 0;}
  83.33% {background-position: -400px 0;}
  83.34% {background-position: -500px 0;}
  100% { background-position: -500px 0; }
}

/*measure wing*/

@-webkit-keyframes measure-wing {
  0% { background-position: 0 0; }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -160px 0;}
  33.33% {background-position: -160px 0;}
  33.34% {background-position: -320px 0;}
  49.99% {background-position: -320px 0;}
  50% {background-position: -480px 0;}
  66.66% {background-position: -480px 0;}
  66.67% {background-position: -640px 0;}
  83.33% {background-position: -640px 0;}
  83.34% {background-position: -800px 0;}
  100% { background-position: -800px 0; }
}
@-moz-keyframes measure-wing {
  0% { background-position: 0 0; }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -160px 0;}
  33.33% {background-position: -160px 0;}
  33.34% {background-position: -320px 0;}
  49.99% {background-position: -320px 0;}
  50% {background-position: -480px 0;}
  66.66% {background-position: -480px 0;}
  66.67% {background-position: -640px 0;}
  83.33% {background-position: -640px 0;}
  83.34% {background-position: -800px 0;}
  100% { background-position: -800px 0; }
}
@-ms-keyframes measure-wing {
  0% { background-position: 0 0; }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -160px 0;}
  33.33% {background-position: -160px 0;}
  33.34% {background-position: -320px 0;}
  49.99% {background-position: -320px 0;}
  50% {background-position: -480px 0;}
  66.66% {background-position: -480px 0;}
  66.67% {background-position: -640px 0;}
  83.33% {background-position: -640px 0;}
  83.34% {background-position: -800px 0;}
  100% { background-position: -800px 0; }
}
@-o-keyframes measure-wing {
  0% { background-position: 0 0; }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -160px 0;}
  33.33% {background-position: -160px 0;}
  33.34% {background-position: -320px 0;}
  49.99% {background-position: -320px 0;}
  50% {background-position: -480px 0;}
  66.66% {background-position: -480px 0;}
  66.67% {background-position: -640px 0;}
  83.33% {background-position: -640px 0;}
  83.34% {background-position: -800px 0;}
  100% { background-position: -800px 0; }
}
@keyframes measure-wing {
  0% { background-position: 0 0; }
  16.66% {background-position: 0 0;}
  16.67% {background-position: -160px 0;}
  33.33% {background-position: -160px 0;}
  33.34% {background-position: -320px 0;}
  49.99% {background-position: -320px 0;}
  50% {background-position: -480px 0;}
  66.66% {background-position: -480px 0;}
  66.67% {background-position: -640px 0;}
  83.33% {background-position: -640px 0;}
  83.34% {background-position: -800px 0;}
  100% { background-position: -800px 0; }
}