// mixin's
@font-red: #cc3d17;
@font-grey: #acacac;
@font-dk-grey: #636363;

@border-red: #cc3d17;
@border-dk-red: #621d0b;
@border-grey: #464646;
@border-lt-grey: #cacaca;

@bg-black-85: rgba(0, 0, 0, 0.85);
@bg-red: #cb3d17;

.bg-index {
  background: url('../images/bg-index.jpg') 0 0 no-repeat;
}

// globals
body {
  background: url('http://expeditions.fieldmuseum.org/sites/all/themes/expeditions/images/bg.png');
  font-family: "Helvetica Neue";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
}


.container {
  width: 960px;
}

#header {
  position: relative;
  padding: 13px 40px 9px;
  background: @bg-black-85;
  border-top: 3px solid @border-red;
  border-bottom: 1px solid @border-grey;

  h1 {
    color: @font-red;
    font-size: 24px;
    margin: 0 0 5px;
  }

  h3 {
    font-family: "Helvetica Neue";
    color: @font-grey;
    font-size: 16px;
    margin:0;
  }

  img {
    position: absolute;
    top:0;
    right:0;
    border-left: 1px solid @border-grey;
  }
}

.content {
  position: relative;
  display: block;
  margin:0;
  width: 960px;
  height: 570px;
}

.bg-container {
  background: rgba(0, 0, 0, 0.4);
  padding: 9px;
  margin-top: 48px;
  width: 285px;

  .copy-container {
    background: #fff;
    padding: 14px 18px;
    border: 1px solid #000;

    h3 {
      color: @font-red;
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 10px;
    }

    p {
      color: @font-dk-grey;
      font-size: 16px;
    }

    hr {
      border-top: 1px solid #cacaca;
    }

    a {
      color: #fff;
      text-shadow: #000 2px 2px;
      text-transform: uppercase;

      display:block;
      width: 180px;
      background: @bg-red;
      border: 1px solid @border-dk-red;
      padding: 10px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

#intro_1, #intro_2 {
  .bg-index;
}

#physical {
  background: #fff;
}