// mixin's
@font-red: #cc3d17;
@font-grey: #acacac;
@font-dk-grey: #636363;
@font-blue: #4caac7;

@border-red: #cc3d17;
@border-dk-red: #621d0b;
@border-grey: #464646;
@border-lt-grey: #cacaca;

@bg-black-85: rgba(0, 0, 0, 0.85);
@bg-red: #cb3d17;

.bg-index {
  background: url('../images/bg-index.jpg') 0 0 no-repeat;
}
.bg-range {
  background: url('../images/bg-range.jpg') 0 0 no-repeat;
}


// globals
body {
  background: url('http://expeditions.fieldmuseum.org/sites/all/themes/expeditions/images/bg.png');
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
}


.container {
  width: 960px;
}

#header {
  position: relative;
  padding: 13px 40px 9px;
  background: @bg-black-85;
  border-top: 3px solid @border-red;
  border-bottom: 1px solid @border-grey;

  h1 {
    color: @font-red;
    font-size: 24px;
    margin: 0 0 5px;
  }

  h3 {
    font-family: "Helvetica Neue";
    color: @font-grey;
    font-size: 16px;
    margin:0;
  }

  img {
    position: absolute;
    top:0;
    right:0;
    border-left: 1px solid @border-grey;
  }
}

.content {
  position: relative;
  display: block;
  margin:0;
  width: 960px;
  height: 570px;

  .row {
    margin: 0;
  }
}

.bg-container {
  background: rgba(0, 0, 0, 0.4);
  padding: 9px;
  margin-top: 48px;
  width: 285px;

  .copy-container {
    background: #fff;
    padding: 14px 18px;
    border: 1px solid #000;

    h3 {
      color: @font-red;
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 10px;
    }

    p {
      color: @font-dk-grey;
      font-size: 16px;
    }

    hr {
      border-top: 1px solid #cacaca;
    }

    a {
      color: #fff;
      text-shadow: #000 2px 2px;
      text-transform: uppercase;
      font-family: "Oswald";
      display:block;
      width: 180px;
      background: @bg-red;
      border: 1px solid @border-dk-red;
      padding: 10px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.icon {
  position: absolute;
  display:block;
  text-decoration: none;
  width: 41px;
  height: 46px;

  &.beak {
    top: 28px;
    left: 203px;
    background: url('../images/icon-beak.png') 0 0 no-repeat;
  }

  &.wing {
    top: 159px;
    left: 73px;
    background: url('../images/icon-wing.png') 0 0 no-repeat;
  }

  &.tail {
    top: 337px;
    left: 21px;
    background: url('../images/icon-tail.png') 0 0 no-repeat;
  }

  &.microphone {
    background: url('../images/icon-microphone.png') 0 0 no-repeat;
  }

  &.crosshair {
    background: url('../images/icon-crosshair.png') 0 0 no-repeat;
  }

  &.checked {
    background: url('../images/icon-checked.png') 0 0 no-repeat !important;
  }
}

#intro_1, #intro_2 {
  .bg-index;
}

#physical {
  background: #fff;
  position: relative;

  .col-md-4.bird {
    height: 570px;

    &.a {
      background: url('../images/bird-a.jpg') 0 0 no-repeat;
    }

    &.b {
      background: url('../images/bird-b.jpg') 0 0 no-repeat;
    }
    &.c {
      background: url('../images/bird-c.jpg') 0 0 no-repeat;
    }



    ul {
      list-style-type: none;
      position: absolute;
      top: 383px;
      right: 55px;

      li {
        color: @font-dk-grey;
        font-size: 18px;

        strong {
          color: #000;
        }
      }

    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;

    .common {
      color: @font-red;
      font-size: 20px;
      margin: 13px 0 0;
    }

    .scientific {
      font-style: italic;
      font-size: 16px;
      color: @font-dk-grey;
    }
  }

  .instructions {
    position: absolute;
    top: 422px;
    width: 100%;

    h3 {
      display:inline-block;
      margin: 0 auto;
      padding: 13px 44px;
      background: #fff;
      color: @font-blue;
      font-size: 20px;

      box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
    }
  }

  #measurements{
    position: relative;
  }

  #magnify {
    position: relative;

    .icon {
      background: url('../images/icon-magnify.png') 0 0 no-repeat;
      &.feather {
        top: 155px;
        left: 153px;
      }

      &.bill {
        top: 55px;
        left: 161px;
      }

      &.tail {

      }
    }
  }

  #listen {
    position: relative;

    .icon.microphone {
      top: 87px;
      left: 214px;
    }
  }

  #genetic {
    position: relative;

    .icon.crosshair {
      top: 163px;
      left: 111px;
    }
  }
}

#range {
  .bg-range;

  hr {
    margin-top: 60px;
  }
}

#lice-section {
  position: relative;
  background: #fff;

  .col-md-4.lice {
    height: 570px;

    &.a {
      background: url('../images/lice-a.jpg') 0 0 no-repeat;
    }

    &.b {
      background: url('../images/lice-b.jpg') 0 0 no-repeat;
    }
    &.c {
      background: url('../images/lice-c.jpg') 0 0 no-repeat;
    }
  }

  .icon.crosshair {
    top: 282px;
    left: 138px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;

    .common {
      color: @font-red;
      font-size: 20px;
      margin: 13px 0 0;
    }

    .scientific {
      font-style: italic;
      font-size: 16px;
      color: @font-dk-grey;
    }
  }
}

#conclusion_1 {
  background: url('../images/bg-conclusion_1.jpg') 0 0 no-repeat;

  hr {
    margin-top: 135px;
  }
}

#conclusion_2 {
  background: url('../images/bg-conclusion-2.jpg') 0 0 no-repeat;

  hr {
    margin-top: 80px;
  }
}

// Light box
.fade.in {
  background: rgba(0, 0, 0, 0.3);
}

.modal-dialog {
  width: 820px;
}

.modal-content {

  border-radius: 0;
  border: 5px solid #000;


  .modal-header {
    border-bottom: none;

  }

  h2 {
      color: @font-red;
      margin-bottom: 0;
    }

  p {
    color: @font-dk-grey;
    size: 18px;
  }

  hr.dashed {
    border-top: 1px dashed @border-lt-grey;
    margin: 50px 0;
  }

  a, a:hover, a:visited {
    color: #fff;
    text-shadow: #000 2px 2px;
    text-transform: uppercase;
    text-decoration: none;

    font-family: "Oswald";
    font-size: 18px;

    display:block;
    width: 180px;
    background: @bg-red;
    border: 1px solid @border-dk-red;
    border-radius: 0;
    padding: 10px;
    margin: 30px auto;
    text-align: center;
  }
}