!!!
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    //- fonts
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Oswald:300,400,700|Helve¡tica%20Neue")
    // [if lt IE 9]
      <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Helvetica%20Neue:400' rel='stylesheet' type='text/css'>
      [endif]
    link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
  body
    .container
      #header.row
        .col-xs-9
          h1 Studying Birds in the Brazilian Amazon
          h3 John Bates &amp; Jason Weckstein
        img(src="images/bg-header.jpg" alt="" width="285" height="70")

      != yield

  //- libraries
  script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
  script(type="text/javascript", src="/js/jquery.zoom.min.js")

  //- script(type="text/javascript", src="js/jquery.1.8.3.min.js")
  script(type="text/javascript", src="/js/bootstrap.min.js")
  //- scripts
  script(type="text/javascript", src="/js/application.js")
