!!!
html
  head
    link(rel="stylesheet", type="text/css", href="stylesheet/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    != yield

  //- scripts
  script(type="text/javascript", src="js/application.js")
