physical = { "listen": {"instructions": "Record each bird to compare their birdcalls.","info": [  {    "bird": "a",    "sonogram": "audio/bird-a.mp3",    "modal": "#listen_a",    "common": "Ivory-billed Araçari",    "scientific": "Pteroglossus azara"  },  {    "bird": "b",    "sonogram": "audio/bird-b.mp3",    "modal": "#listen_b",    "common": "Ivory-billed Araçari",    "scientific": "Pteroglossus azara"  },  {    "bird": "c",    "sonogram": "audio/bird-c.mp3",    "modal": "#listen_c",    "common": "Ivory-billed Araçari",    "scientific": "Pteroglossus azara"  }]}}

mixin eachBird(obj)
  .col-xs-4(class="bird #{obj.bird}")

    .dropzone
      .ui360.hidden
        a(href=obj.sonogram)

    img(src="images/sonogram-" + obj.bird + ".png", alt="").sonogram.hidden


#physical.row
  .col-12-md
    #listen.content.section(data-section="#listen")
      .row
        each entry in physical.listen.info
          +eachBird(entry)

      .footer.instructions.text-center
        h3 #{physical.listen.instructions}
          .icon.microphone.draggable

        a(href="#listen_quiz", data-dismiss="modal", aria-hidden="true", class="btn").hidden continue

