// Button trigger modal
button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#myModal')
  | Launch demo modal
// Modal
#myModal.modal.text.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header.text-center
        h2 Step 1: Physical Comparison
      .modal-body.text-center
        p The first stage in determining family relationships between birds involves detailed comparisons of their physical traits: their size, coloration, and even their birdcalls.
        hr.dashed
        p Let’s begin by taking measurements of each Ivory-billed Araçari population

        a(href="measurements") begin
