#conclusion_2.row
  .col-xs-12.content
    .row
        .col-xs-4.col-xs-offset-8.bg-container
          .copy-container
            h3= conclusion_2.headline
            each paragraph in conclusion_2.copy
              p
                != paragraph

            hr

            a(href=conclusion_2.link.href)= conclusion_2.link.copy