//- NOTE:
//-   THIS IS NO LONGER USED

#conclusion_1.row.section.hidden
  .col-xs-12.content(data-section="#conclusion_1")
    .row
        .col-xs-4.col-xs-offset-8.bg-container
          .copy-container
            h3= conclusion_1.headline
            each paragraph in conclusion_1.copy
              p
                != paragraph

            hr

            a.btn.router(href=conclusion_1.link.href)= conclusion_1.link.copy