mixin eachBird(obj)
  .col-md-4(class="bird #{obj.bird}")

    a.icon.crosshair

    .footer.text-center
      h3.common= obj.common
      p.scientific= obj.scientific

#genetic.content
  .row
    each entry in physical.genetic.info
      +eachBird(entry)

  .instructions.text-center
    h3= physical.genetic.instructions

  //- TODO:
  //-   Conclusion Light box
  //-     DNA Comparsion
  //-     Question
  //-     Correct
  //-     Wrong