#intro_2.row.section.hidden
  .col-xs-12.content(data-section="#intro_2")
    .row
        .col-xs-4.col-xs-offset-8.bg-container
          .copy-container
            h3= intro_2.headline
            each paragraph in intro_2.copy
              p
                != paragraph

            hr

            a.btn.router(data-toggle='modal', data-target=intro_2.link.modal href=intro_2.link.href)= intro_2.link.copy