#intro_2.row
  .col-md-12.content
    .row
        .col-md-4.col-md-offset-8.bg-container
          .copy-container
            h3= intro_2.headline
            each paragraph in intro_2.copy
              p
                != paragraph

            hr

            a(href=intro_2.link.href)= intro_2.link.copy