#intro_1.row.section
  .col-xs-12.content(data-section="#intro_1")
    .row
        .col-xs-4.col-xs-offset-8.bg-container
          .copy-container
            h3= intro_1.headline
            each paragraph in intro_1.copy
              p
                != paragraph

            hr

            a.btn.router(href=intro_1.link.href)= intro_1.link.copy

    .credit!= intro_1.credit