//- TODO:
//-   lightbox

#range.row.section.hidden
  .col-xs-12.content(data-section="#range")
    .row
        .col-xs-4.col-xs-offset-8.bg-container
          .copy-container
            h3= range.headline
            each paragraph in range.copy
              p
                != paragraph

            hr

            a.btn(data-toggle="modal" data-target=range.link.href href=range.link.href)= range.link.copy