//- TODO:
//-   lightbox

#range.row
  .col-xs-12.content
    .row
        .col-xs-4.col-xs-offset-8.bg-container
          .copy-container
            h3= range.headline
            each paragraph in range.copy
              p
                != paragraph

            hr

            a(href=range.link.href)= range.link.copy